*{margin: 0; padding: 0;}
html{
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}
body{
    font-family: 'Montserrat', sans-serif;
    background-color: white;
}
section{
    width: 100%;
    margin-bottom: 5%;
}
.row{
    margin-right: 0;
    margin-left: 0;
}

header{
    font-family: 'Montserrat', sans-serif;
    position: fixed;
    background-color: #e72e4e;
    box-shadow: 2px 2px 20px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    z-index: 20;
}

.arriba{
    position: fixed;
    margin: 20px;
    bottom: 0;
    right: 15px;
    padding: 5px;
    width: 50px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 20px;
    z-index: 7;
}
.arriba img{
    width: 100%;
}

.textoNav{
    font-size: 22px;
    margin-right: 80px;
    color: white;
}
.ubicacionNav{
    justify-content: flex-end;
}
.navbar{
    display: flex;
    flex-wrap: nowrap;
}
.navbar-expand-lg .navbar-nav .nav-link{
    color: white;
    margin-left: 20px;
    font-weight: 600;
    display: flex;
    align-items: center;
    font-size: 15px;
    transition: 0.2s ease-in-out;
}
.navbar-expand-lg .navbar-nav .nav-link:hover{
    color: #202020;
    transition: 0.2s ease-in-out;
}

.icononav{
    margin-left: 60px;
}

.icononav img{
    width: 80%;
}

.menuburger{
    width: 50%;
    margin-right: 30px;
}
.logo{
    width: 45%;
	padding: 15px;
	margin-left: 40px;
}

.textoInicio{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 1;
    text-align: center;
}
.textoInicio h1{
    font-size: 80px;
    font-weight: 800;
    margin-bottom: 100px;
}
.textoInicio p{
    font-size: 18px;
    font-weight: 600;
}
.botonInicio{
    margin-top: 100px;
}
.botonInicio a{
    text-decoration: none;
    list-style: none;
    padding: 12px 35px;
    color: #e72e4e;
    background-color: white;
    border-radius: 30px;
    border: 2px solid white;
    font-weight: 700;
    transition: 0.5s ease-in-out;
}
.botonInicio a:hover{
    color: white;
    background-color: transparent;
    border: 2px solid white;
    transition: 0.5s ease-in-out;
}

.cajaDatos{
    background-color: #e72e4e;
    padding: 150px;
    margin-top: 200px;
    margin-bottom: 10px;
    text-align: center;
    align-items: center;
}
.cajaDatos h1{
    color: white;
    font-weight: 700;
}
.cajaDatos h2{
    color: white;
    font-weight: 700;
}

.ondas{
    width: 100%;
}
.ondas img{
    width: 100%;
}

.cajaacercade{
    position: relative;
}
.acercade{
    text-align: center;
}
.textoClientes p{
    margin-top: 40px;
    margin-bottom: 40px;
    font-weight: 600;
}
.clientes{
    text-align: center;
    margin-top: 50px;
}

.logosClientes img{
    text-align: center;
    width: 70%;
    color: white;
    padding: 25px 50px;
    background-color: #202020;
    border-radius: 20px;
    margin: 20px;
}

.nosotros{
    text-align: center;
    margin-top: 50px;
}

.fotosNosotros img{
    width: 70%;
    margin: 20px;
}
.fotosNosotros h1{
    font-size: 23px;
    font-weight: 700;
}

.liena{
    text-align: center;
}
.liena img{
    width: 10%;
}

.titulos{
    color: #202020;
    font-size: 60px;
    font-weight: 600;
    text-align: center;
    margin-top: 150px;
}
.titulos2{
    color: #202020;
    font-size: 100px;
    font-weight: 600;
    text-align: center;
    margin-top: 150px;
}

.quehacemos{
    margin-top: 120px;
    justify-content: center;
    text-align: center;
}
.quehacemos img{
    width: 30%;
    margin-bottom: 20px;
}
.quehacemos h2{
    font-weight: 600;
    font-size: 25px;
}

.cajaformulario{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 2%;
}
.formulario{
    position: relative;
    margin-top: 60px;
    padding: 80px;
    background-color: #e72e4e;
    border-radius: 40px;
}
.label{
    color: #161616;
}
.form-control{
    background-color: transparent;
    border: 2px solid white;
    color: white;
}

.consulta{
    padding: 100px;
    bottom: 0;
    left: 0;
}
.cajaTexto h2{
    text-align: center;
    color: white;
    padding-bottom: 20px;
    font-weight: 600;
}
.cajaTexto p{
    color: white;
    text-align: left;
    font-size: 17px;
}
.custom-switch{
    padding-top: 20px;
    text-align: center;
}
.form-check-input{
    cursor: pointer;
}
.form-check-label{
    font-size: 16px;
    color: white;
}
.custom-control-label{
    color: white;
    cursor: pointer;
}
.ayudaemail{
    color: #c2c2c2;
}
.form-control{
    text-align: left;
}

.btn-primary{
    background-color: white;
    border: 2px solid white;
    border-radius: 50px;
    color: #e72e4e;
    font-weight: 600;
    font-size: 20px;
    margin-top: 40px;
    padding: 20px 400px 20px 400px;
    transition: 0.5s ease-in-out;
    transform: scale(0.9);
}
.btn-primary:hover{
    color: #e72e4e;
    background-color: white;
    border: 2px solid white;
    transform: scale(1);
    transition: 0.5s ease-in-out;
}
.contactar{
    text-align: center;
}
.contactar img{
    width: 6%;
}
.contactar a{
    text-decoration: none;
    color: #e72e4e;
    font-weight: 600;
}
.contactar a:hover{
    color: #202020;
    transition: 0.2s ease-in-out;
}

footer{
    padding: 80px;
    margin-top: 100px;
    background-color: #e72e4e;
}
.ubicacionNavFooter{
    justify-content: center;
}
.nav_footer{
    color: white;
    margin-left: 80px;
    margin-bottom: 40px;
    font-size: 18px;
    font-weight: 600;
    transition: 0.2s ease-in-out;
}
.nav_footer:hover{
    color: #202020;
    text-decoration: none;
    transition: 0.2s ease-in-out;
}

.redessociales{
    padding: 15px;
    margin: 20px;
    border: 2px white solid;
    border-radius: 50%;
    transition: 0.2s ease-in-out;
    opacity: 1;
}
.redessociales:hover{
    cursor: pointer;
    transition: 0.2s ease-in-out;
    opacity: 0.5;
}
.redessociales img{
    width: 30px;
}

.cajaFooter{
    margin-top: 60px;
}
.textoFooter p{
    color: white;
    font-weight: 500;
}

/*--------------------------------------------------------------CAROUSEL------------------------------------------------------------*/
.gallery{
    margin-top: 50px;
}

.gallery a{
    width: 100%;
    height: 300px;
}

.glightbox img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.filter-button{
    font-size: 18px;
    border: 1px solid #e72e4e;
    border-radius: 5px;
    text-align: center;
    color: #e72e4e;
    margin-bottom: 30px;

}
.filter-button:hover{
    font-size: 18px;
    border: 1px solid #e72e4e;
    border-radius: 5px;
    text-align: center;
    color: #ffffff;
    background-color: #e72e4e;

}
.filter-button.active{
    background-color: #e72e4e;
    color: white;
}
.port-image{
    width: 100%;
}

.gallery_product{
    margin-bottom: 30px;
	-webkit-animation-duration: 1s;
            animation-duration: 1s;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
}

.block{
    opacity: 0;
}

@-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

 /*----------------------------------------------------------CAROUSEL--------------------------------------------------------------------*/

@media (max-width: 992px){
	.logo{
		width: 50%;
		padding: 15px;
	}
    .logo img{
        justify-content: center;
    }
    .navbar-dark .navbar-toggler {
        border-color: transparent;
        margin-right: 20px;
    }
    .textoInicio{
        margin-top: 80%;
    }
    .textoInicio h1{
        font-size: 50px;
        margin-bottom: 40px;
    }
    .textoInicio p{
        font-size: 12px;
        margin-bottom: 10px;
    }
    .textoInicio a{
        font-size: 12px;
    }
    .botonInicio{
        margin-top: 50px;
    }
    .titulos{
        font-size: 35px;
        margin-top: 60px;
    }
    .titulos2{
        font-size: 40px;
        margin-top: 80px;
    }
    .acercade p{
        padding: 18px;
        font-size: 15px;
        font-weight: 400;
        margin-top: 15px;
        line-height : 25px;
    }
    .contenedorDatos{
        margin-top: 50px;
    }
    .cajaDatos{
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 25px;
        padding-bottom: 25px;
        margin-top: 0px;
        margin-bottom: 0px;
        text-align: center;
    }
    .cajaDatos h1,h2{
        font-size: 25px;
    }
    .quehacemos{
        margin-top: 80px;
    }
    .formulario{
        margin-top: 60px;
        padding: 40px;
        width: 100%;
        background-color: #e72e4e;
    }
    .btn-primary{
        font-size: 15px;
        margin-top: 30px;
        padding: 15px 100px 15px 100px;
        transition: 0.5s ease-in-out;
        transform: scale(0.9);
    }
    .cajaTexto h2{
        font-size: 30px;
    }
    footer{
        margin-top: 50px;
    }
    .contactar{
        margin-top: 20px;
    }
    .custom-control-label{
        font-size: 13px;
    }
    .cajaFooter{
        margin-top: 40px;
    }
    .textoFooter p{
        text-align: center;
    }
    .navbar{
        padding: 0;
        margin-bottom: 20px;
    }
    .nav_footer{
        font-weight: 500;
        text-align: center;
        color: white;
        margin-left: 80px;
        margin-bottom: 10px;
        font-size: 20px;
    }
    .redes{
        display: flex;
    }
}


@media (min-width: 999px) and (max-width: 1366px){
    .logo{
		width: 60%;
		padding: 10px;
        margin-left: 20px;
	}
    .logo img{
        justify-content: center;
    }
    .navbar-expand-lg .navbar-nav .nav-link{
        font-size: 12px;
        margin-left: 5px;
    }
    .textoInicio h1{
        font-size: 50px;
        margin-bottom: 40px;
    }
    .textoInicio p{
        font-size: 15px;
        margin-bottom: 10px;
    }
    .textoInicio a{
        font-size: 12px;
    }
    .botonInicio{
        margin-top: 50px;
    }
    .titulos{
        font-size: 40px;
        margin-top: 80px;
    }
    .linea img{
        width: 5%;
    }
    .quehacemos{
        margin-top: 60px;
    }
    .quehacemos img{
        width: 50%;
    }
    .quehacemos h2{
        font-size: 18px;
    }
    .quehacemos p{
        font-size: 12px;
    }
    .logosClientes img {
        width: 100%;
        margin: 0;
    }

    .glightbox img{
        width: 60%;
        height: 100%;
        object-fit: cover;
        overflow: hidden;
    }
    .gallery_product{
        text-align: center;
    }
    .cajaDatos{
        padding: 80px;
    }
    .cajaDatos h1{
        font-size: 25px;
    }
    .cajaDatos h2{
        font-size: 20px;
    }
    .nav_footer{
        font-size: 15px;
    }
    .nav_footer p{
        font-size: 15px;
    }
    footer{
        padding: 60px;
    }
}





@media (min-width: 1999px){
    .logo{
        width: 40%;
    }

    header{
        font-family: 'Montserrat', sans-serif;
        position: fixed;
        background-color: #e72e4e;
        box-shadow: 2px 2px 20px 8px rgba(0, 0, 0, 0.2);
        width: 100%;
        z-index: 20;
    }
    
    .arriba{
        position: fixed;
        margin: 20px;
        bottom: 0;
        right: 15px;
        padding: 5px;
        width: 50px;
        background-color: rgba(0, 0, 0, 0.7);
        border-radius: 20px;
        z-index: 7;
    }
    .arriba img{
        width: 100%;
    }
    
    .textoNav{
        font-size: 22px;
        margin-right: 80px;
        color: white;
    }
    .ubicacionNav{
        justify-content: flex-end;
    }
    .navbar{
        display: flex;
        flex-wrap: nowrap;
    }
    .navbar-expand-lg .navbar-nav .nav-link{
        color: white;
        margin-left: 50px;
        font-weight: 600;
        display: flex;
        align-items: center;
        font-size: 17px;
        transition: 0.2s ease-in-out;
    }
    .navbar-expand-lg .navbar-nav .nav-link:hover{
        color: #202020;
        transition: 0.2s ease-in-out;
    }
    
    .icononav{
        margin-left: 60px;
    }
    
    .icononav img{
        width: 80%;
    }
    
    .menuburger{
        width: 50%;
        margin-right: 30px;
    }
    
    .textoInicio{
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        z-index: 1;
        text-align: center;
    }
    .textoInicio h1{
        font-size: 90px;
        font-weight: 800;
        margin-bottom: 100px;
    }
    .textoInicio p{
        font-size: 23px;
        font-weight: 600;
    }
    .botonInicio{
        margin-top: 100px;
    }
    .botonInicio a{
        text-decoration: none;
        list-style: none;
        padding: 15px 40px;
        color: #e72e4e;
        background-color: white;
        border-radius: 30px;
        border: 2px solid white;
        font-weight: 700;
        transition: 0.5s ease-in-out;
    }
    .botonInicio a:hover{
        color: white;
        background-color: transparent;
        border: 2px solid white;
        transition: 0.5s ease-in-out;
    }
    
    
    .ondas{
        width: 100%;
    }
    .ondas img{
        width: 100%;
    }
    
    .cajaacercade{
        position: relative;
    }
    .acercade{
        text-align: center;
    }
    .textoClientes p{
        margin-top: 40px;
        margin-bottom: 40px;
        font-weight: 600;
    }
    .clientes{
        text-align: center;
        margin-top: 50px;
    }
    
    .logosClientes img{
        text-align: center;
        width: 70%;
        color: white;
        padding: 25px 50px;
        background-color: #202020;
        border-radius: 20px;
        margin: 20px;
    }
    
    .nosotros{
        text-align: center;
        margin-top: 50px;
    }
    
    .fotosNosotros img{
        width: 70%;
        margin: 20px;
    }
    .fotosNosotros h1{
        font-size: 23px;
        font-weight: 700;
    }
    
    .liena{
        text-align: center;
    }
    .liena img{
        width: 10%;
    }
    
    .titulos{
        color: #202020;
        font-size: 60px;
        font-weight: 600;
        text-align: center;
        margin-top: 150px;
    }
    .titulos2{
        color: #202020;
        font-size: 100px;
        font-weight: 600;
        text-align: center;
        margin-top: 150px;
    }
    
    .quehacemos{
        margin-top: 120px;
        justify-content: center;
        text-align: center;
    }
    .quehacemos img{
        width: 30%;
        margin-bottom: 20px;
    }
    .quehacemos h2{
        font-weight: 600;
        font-size: 25px;
    }
    
    .cajaformulario{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 2%;
    }
    .formulario{
        position: relative;
        margin-top: 60px;
        padding: 80px;
        background-color: #e72e4e;
        border-radius: 40px;
    }
    .label{
        color: #161616;
    }
    .form-control{
        background-color: transparent;
        border: 2px solid white;
        color: white;
    }
    
    .consulta{
        padding: 100px;
        bottom: 0;
        left: 0;
    }
    .cajaTexto h2{
        text-align: center;
        color: white;
        padding-bottom: 20px;
        font-weight: 600;
    }
    .cajaTexto p{
        color: white;
        text-align: left;
        font-size: 17px;
    }
    .custom-switch{
        padding-top: 20px;
        text-align: center;
    }
    .form-check-input{
        cursor: pointer;
    }
    .form-check-label{
        font-size: 16px;
        color: white;
    }
    .custom-control-label{
        color: white;
        cursor: pointer;
    }
    .ayudaemail{
        color: #c2c2c2;
    }
    .form-control{
        text-align: left;
    }
    
    .btn-primary{
        background-color: white;
        border: 2px solid white;
        border-radius: 50px;
        color: #e72e4e;
        font-weight: 600;
        font-size: 20px;
        margin-top: 40px;
        padding: 20px 450px 20px 450px;
        transition: 0.5s ease-in-out;
        transform: scale(0.9);
    }
    .btn-primary:hover{
        color: #e72e4e;
        background-color: white;
        border: 2px solid white;
        transform: scale(1);
        transition: 0.5s ease-in-out;
    }
    .contactar{
        text-align: center;
    }
    .contactar img{
        width: 6%;
    }
    .contactar a{
        text-decoration: none;
        color: #e72e4e;
        font-weight: 600;
    }
    .contactar a:hover{
        color: #202020;
        transition: 0.2s ease-in-out;
    }
    
    footer{
        padding: 80px;
        margin-top: 100px;
        background-color: #e72e4e;
    }
    .ubicacionNavFooter{
        justify-content: center;
    }
    .nav_footer{
        color: white;
        margin-left: 80px;
        margin-bottom: 40px;
        font-size: 18px;
        font-weight: 600;
        transition: 0.2s ease-in-out;
    }
    .nav_footer:hover{
        color: #202020;
        text-decoration: none;
        transition: 0.2s ease-in-out;
    }
    
    .redessociales{
        padding: 15px;
        margin: 20px;
        border: 2px white solid;
        border-radius: 50%;
        transition: 0.2s ease-in-out;
        opacity: 1;
    }
    .redessociales:hover{
        cursor: pointer;
        transition: 0.2s ease-in-out;
        opacity: 0.5;
    }
    .redessociales img{
        width: 30px;
    }
    
    .cajaFooter{
        margin-top: 60px;
    }
    .textoFooter p{
        color: white;
        font-weight: 500;
    }
}

